.addAnimation{
    animation: addMenuAnim 1s;
}
.addAnimationSubMenu{
     animation: addMenuAnimSub 1s;
}

@keyframes addMenuAnim {
    from {
        right: -500px;
    }
    to {
        right: 12px;
    }    
}
@keyframes addMenuAnimSub {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }    
}